/* fixed navabar */
.navbar {
height: 95px;
padding: 0;
}
 
.bg-custom { 
   color: pink;
   background: #7db6df;
}

.bg-custom a {
   color: white;
}

.jumbotron-fluid {
   height: 485px;
   margin-top: 95px;
   padding: 0;
   object-fit: none
}

.jumbotron-fluid > video {
   overflow: hidden;
   width:100%;
   height: 100%;
   object-fit: cover;
}

.big-c {
   transform: translateY(-125px);
   opacity: 0.83;
}

.main-c {
   max-width: 1365px;
}

.img-thumbnail {
   height: 180px;
   width: 320px;
}  

.video-controls > .row {
   position: relative;
   width: 15rem;
   height: 5rem;
   margin: 0;
   bottom: 0;
}  

button {
   width: 5rem;
   padding: 0;
}

.fa-pause .fa-volume-up .fa-arrows-alt  {
   font-size: 3rem;
}

.navbar-brand {
   margin: 0;
   padding:  0;
}

.main-logo {
   width: 5.8rem;
   height: 6rem;;
}

/* .navbar-nav {
   margin-right: 0;
   margin-left: 70rem; 
} */